{
    "videoDir": "/mnt/d/Nextcloud MH/Raspi/video",
    "mediaDir": "/mnt/c/Users/Martin/Desktop/media/raspi/video",
    "os": "windows|linux",
    "source": "ard|zdf|wdr|dm",
    "mode": "maus|conni|bibi",
    "urls": [
        ["anglerglueck", "https://..."],
        ["apfelbaum", "https://..."]
    ]
}